body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

header, footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
}

.header {
    background-color: #1F2937;
    width: 960px;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    list-style: none;
    display: flex;
    gap: 28px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 16px;
}

.header-links, .hero-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 0px;
}

.hero-main {
    font-size: 48px;
    font-weight: 700;
}

.hero-left {
    flex: 1;
    margin-right: 60px;
}

.img-placeholder {
    background-color: rgb(155, 155, 155);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 5px 24px;
    border-radius: 5px;
}

.hero-button {
    background-color: #3882F6;
    color: white;
    border: none;
    margin-top: 10px;
}

.information-container {
    background-color: white;
    padding: 0;
}

.info-header {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    text-align: center;
    padding: 32px;
}

.info-list {
    display: flex;
    text-align: center;
    list-style: none;
    padding: 0;
}

.image-boxes {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    padding-bottom: 107.33px;
}

.img-container {
    text-align: center;
    width: 158px;
}

.img-box-text {
    padding-top: 10px;
}

.img-box {
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    margin: 0;
    border-radius: 12px;
}

.quote-bg {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-container {
    padding: 100px 0px;
    background-color: #E5E7EB;
    width: 960px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 0px 85px;
}

.thor {
    font-size: 20px;
    font-weight: 700;
    text-align: right;
    padding-right: 128px;
}

.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 150px;
    margin: 0;
}

.cta-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;

    padding: 36px 80px;
    border-radius: 8px;
    width: 960px;
}

.cta-header {
    font-weight: bold;
}

.cta-text {
    color: #E5E7EB;
    font-size: 14px;

}

.cta-button {
    color: white;
    background: none;
    border-color: white;
    border-style: solid;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 16px;
    padding: 28px;
}


